h1{
	color: #fff;
	font-size: 34pt;
	font-family: Verdana, sans-serif;
}
h2{
	color: #fff;
	font-size: 32pt;
	font-family: Verdana, sans-serif;
}
p{
	color: #fff;
	font-size: 22pt;
	font-family: Verdana, sans-serif;
}